/* element默认样式修改 */
/* 修改navMenu默认样式 */
/** 一级导航菜单的title */
.el-submenu__title{
  padding-left: 15px !important;
}
/** 二级导航菜单标题 */
.el-menu-item-group__title{
  display: none;
}

/* 解决scrollbar横向溢出 */
.el-scrollbar__wrap{
  overflow-x: hidden;
  margin-right: -25px !important;
  margin-bottom: 0 !important;
}

/* 去除tabs标签页margin-bottom */
.el-tabs__header{
  margin-bottom: 0;
  border-bottom: none !important;
}
/* dialog设置上下居中 */
.el-dialog{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);/*IE9*/
  -webkit-transform: translate(-50%,-50%);/*safari和chrome*/
  margin-top: 0 !important;
}
/* 注册表单drawer header content 和 footer */
.el-drawer{
  min-width: 300px;
}
.el-drawer__body{
  height: 100%;
}
.drawer-header,.drawer-footer{
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.drawer-header{
  justify-content: flex-start;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #dcdcdc;
}
.drawer-form-wrap{
  box-sizing:border-box;
  padding:10px 20px;
}
.drawer-footer{
  justify-content: flex-end;
  height: 40px;
  border-top: 1px solid #dcdcdc;
  padding: 0 20px;
}