/* element默认样式修改 */
/********************* 导航菜单相关样式 ************************/
/* 修改navMenu默认样式 */
/** 一级导航菜单的title */
.el-submenu__title{
  /* padding-left: 15px !important; */
}
/** 二级导航菜单标题 */
.el-menu-item-group__title{
  display: none;
}
/********************* scrollbar相关样式 ************************/
/* 解决scrollbar横向溢出 */
.el-scrollbar__wrap{
  /* margin-right: -25px !important; */
  margin-bottom: 0 !important;/* 解决下拉框显示不全 */
  overflow-x: hidden !important;/*默认是scroll，这里改为auto*/
}

/* 去除tabs标签页margin-bottom */
.el-tabs__header{
  margin-bottom: 0 !important;
  border-bottom: none !important;
}
/********************* dialog相关样式 ************************/
/* dialog设置上下居中 */
.el-dialog{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important;
  -ms-transform: translate(-50%,-50%) !important;/*IE9*/
  -webkit-transform: translate(-50%,-50%) !important;/*safari和chrome*/
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.el-dialog__body{
  padding: 10px 20px !important;
}
.el-dialog__footer{
  text-align: center !important;
}
/********************* drawer相关样式 ************************/
/* 注册表单drawer header content 和 footer */
.el-drawer{
  min-width: 300px;
}
.el-drawer__body{
  height: 100%;
}
.drawer-header,.drawer-footer{
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.drawer-header{
  justify-content: flex-start;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #dcdcdc;
}
.drawer-form-wrap{
  box-sizing:border-box;
  padding:10px 20px;
}
.drawer-footer{
  justify-content: flex-end;
  height: 40px;
  border-top: 1px solid #dcdcdc;
  padding: 0 20px;
}

/********************* 表格相关样式 ************************/
/** 扩展插槽的padding */
.el-table__expanded-cell{
  padding: 0 0 0 50px !important;
}
/** 解决解决 elementUI 在IE下 table 表格宽度不是100%的问题 */
.el-table__header{
  width: 100% !important;
}
.el-table__body{
  width: 100% !important;
}
/********************* 表单相关样式 ************************/
/** form-item 容器 */
.form-item-wrap{
  display: flex;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}